# Python
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

# Data files
*.npy
*.csv
*.h5
*.zip
*.tar.gz

# Directories
data/
models/
plots/

# OS-specific
.DS_Store

# IDE-specific
.vscode/
.idea/

# Virtual environments
venv/
.env/
